<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Informer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="../css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans|Oswald' rel='stylesheet' type='text/css'>
    <script src="../js/angular.min.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/app.js"></script>

</head>
<body>

<div class="container" ng-app="myApp" >


    <section>
        <!--Bootstrap 3 Scaffolding-->
        <div class="text-center" ng-controller="timeController" >
            <h1>Holidays</h1>
        </div>


        <div class="text-center" ng-controller="alarmController">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                <table class="table">
                    <thead>
                        <td>Days</td>
                        <td>&nbsp;</td>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in holidays track by $index" >
                            <td><input type="text" class="datepicker" ng-model="x[0]" /></td>
                            <td><button class="btn btn-xs btn-danger" ng-click="delete_holiday($index);">Remove</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td>&nbsp;</td>
                        <td><button class="btn btn-xs btn-primary" ng-click="add_new_holiday();">Add New</button></td>
                    </tfoot>
                </table>
            <button class="btn btn-xs btn-primary" ng-click="cancel()">Cancel</button>
                <button class="btn btn-xs btn-primary" ng-click="save_holidays()">Save</button>
            </div>
        </div>
    </section>


</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
<script type="text/javascript" src="../js/ngTimepicker.min.js"></script>
<script>
    function load_datepickers(){
    $( ".datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
    }
</script>
</body>
</html>