<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Informer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="../css/styles.css" rel="stylesheet">
    <script src="../js/angular.min.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/app.js"></script>
</head>
<body>

<div class="container" ng-app="myApp" >


    <section>
        <!--Bootstrap 3 Scaffolding-->
        <div class="page-header text-center" ng-controller="timeController" ng-click="quit_console()">
            <h1>{{currentTime}}</h1>
        </div>

        <div class="container">
            <div>
                <div class="col-sm-4"  ng-controller="newsController">
                    <h3 class="text-center" onclick='load_popovers();'>BBC News</h3>
                    <p ng-repeat="x in news" >
                        <span class="pop" data-toggle="popover" data-content="{{x.detail}}" rel="popover" data-placement="right"  data-trigger="hover">{{ x.title }}</span>
                    </p>
                </div>

                <div class="col-sm-4"  ng-controller="busesController">
                    <h3 class="text-center">Buses</h3>
                    <p ng-repeat="x in buses">
                        {{ x.time }}&nbsp;{{ x.route }}&nbsp;{{ x.destination }}
                    </p>
                </div>

                <div class="col-sm-4" ng-controller="weatherController" >
                    <h3 class="text-center">Weather</h3>
                    <div>
                        <img src="{{weather.current.icon_url}}" />
                        {{weather.current.desc}}
                    </div>
                    <p>Current Temp {{weather.current.temp | number:0 }}&deg;</p>
                    <p>Sun Rise {{weather.sunrise}} Set {{weather.sunset}}</p>
                    <p>{{weather.forecast_day.title}} : {{weather.forecast_day.desc}}</p>
                    <p>{{weather.forecast_night.title}} : {{weather.forecast_night.desc}}</p>
                </div>

            </div>

        </div>
        <div class="col-sm-12 text-center" ng-controller="alarmController">
            <h4 ng-click='edit_alarms();'>Next Alarm {{nextAlarm}}</h4>
        </div>
    </section>


</div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script type="text/javascript" src="../js/ngTimepicker.min.js"></script>
<script>
    function load_popovers(){
        $('[data-toggle="popover"]').popover({container: 'body'});
    }
</script>
</body>
</html>